p {
    color:green;
    text-align: center;
}

tr[data-href] {
    cursor: pointer;
}
.background-image {
    background-image: url("../../media/images/Arsenal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    opacity: 1;
}