{% extends 'core/base.html' %}

{% block content %}

    <div class="background-image">
        <!--
            <div class="container">
            <h2 class="home-position">
                Django web application
            </h2>
            <h4 class="home-position">
                The project is basically about seeing league table how it stands, ended and upcoming matches, and also
                in the near future will be added predicting next match result by using one of machine learning algorithms 
                ( most probably KNN is going be )
            </h4>
        </div>
        -->
    </div>

{% endblock content %}