{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center">Standings</h1>
        <table class="table center table-responsive table-hover table-dark">
            <thead>
                <tr class="col">
                    <td></td>
                    <td>Club</td>
                    <td></td>
                    <td>MP</td>
                    <td>W</td>
                    <td>D</td>
                    <td>L</td>
                    <td>GF</td>
                    <td>GA</td>
                    <td>Pts</td>
                </tr>
            </thead>
            <tbody>
                <!---->
                {% for team in teams %}
                <tr data-href="{% url 'footballer' %}" class="col">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <img class='img-responsive' src="{{ team.image.url }}" height="30" width="30" >
                    </td>
                    <td> {{ team.name }} </td>
                    <td> {{ team.games }} </td>
                    <td> {{ team.win }} </td>
                    <td> {{ team.draw }} </td>
                    <td> {{ team.loss }} </td> 
                    <td> {{ team.scored }} </td>
                    <td> {{ team.conceded }} </td>
                    <td><strong> {{ team.point }} </strong></td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
    </div>

{% endblock content %}