{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center">Standings</h1>
        <table class="table center table-responsive table-hover table-dark">
            <thead>
                <tr class="col">
                    <td></td>
                    <td>Club</td>
                    <td></td>
                    <td>MP</td>
                    <td>W</td>
                    <td>D</td>
                    <td>L</td>
                    <td>GF</td>
                    <td>GA</td>
                    <td>Pts</td>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr data-href="{% url 'team' slug=team.slug %}" class="col">
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <img class='img-responsive' src="{{ team.image.url }}" height="40" width="40" />
                    </td>
                    <td> <strong> {{ team.name|capfirst }} </strong> </td>
                    <td> {{ team.games }} </td>
                    <td> {{ team.win }} </td>
                    <td> {{ team.draw }} </td>
                    <td> {{ team.loss }} </td> 
                    <td> {{ team.scored }} </td>
                    <td> {{ team.conceded }} </td>
                    <td><strong> {{ team.point }} </strong></td>
                </tr> 
                {% endfor %}  
            </tbody>
        </table>
        {% if is_paginated %}
            
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4"
                href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4"
                href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            
            {% for num in page_obj.paginator.page_range %}
                
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4"
                    href="?page={{ num }}"> {{ num }} </a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ num }}"> {{num}} </a>
                {% endif %}
                    
            {% endfor %}
            
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4"
                href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
                
        {% endif %} 
    </div>

{% endblock content %}