{% extends 'core/base.html' %}

{% block content %}

    <div class="container">
        <h1 class="text-center">{{ footballers.team }}</h1>
        <table class="table center table-responsive table-hover table-dark">
            <thead>
                <tr class="col">
                    <td></td>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Old Club</td>
                    <td>Currenct Team</td>
                </tr>
            </thead>
            <tbody>
                <!---->
                {% for footballer in footballers %}
                <tr class="col">
                    <td>{{ forloop.counter }}</td>
                    <td> {{ footballer.name }} </td>
                    <td> {{ footballer.age }} </td>
                    <td> {{ footballer.old_club }} </td>
                    <td> {{ footballer.team }} </td>
                </tr> 
                {% endfor %}    
            </tbody>
        </table>
    </div>

{% endblock content %}